.categories{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.categories-hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories-hero h2{
    font-size: 2rem;
    color: #333;
    font-weight: 700;
}
.main-categories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .category1{
        border-radius: 10px;
        width: 32%;
        height: 170px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        img{
            width: 55px;
        }
    }
}
.worker-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    > p{
        font-size: 14px;
        color: #555;
    }
}

.category1:hover {
    background-color: #296e96;
  transform: translateY(-5px);
  cursor: pointer;
}

.category1:hover .worker-data p{
    color: #FFF;
  }
  .category1:hover .worker-data h2{
    color: #FFF;
  }

.category1:hover .category-img {
  filter: brightness(0) invert(1);
}